@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	background-color: rgb(163, 161, 161);
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	min-height: 100vh;
}

button {
	width: 200px;
	height: 200px;
	border: none;
	font-size: 2rem;
	font-family: inherit;
	text-transform: uppercase;
	/* color: white; */
}
